@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

.intro-section{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.intro--photo{
    align-self: center;
    max-width: 1000px;
}
.intro--title{
    margin-bottom: 16px;
    font-size: 30px;
    padding-left: 20px;
}

.intro--text{
    margin-top: 0;
    padding-left: 20px;
}